@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

html, body {
    margin: 0;
    padding: 0;
    background-color: #FCFCFC;
    color: #333;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 20px;
}

li:last-of-type {
    margin-bottom: 0;
}

input[type=button] {
    border-width: 1px;
    border-style: solid;
    font-size: 15px;
    text-align: center;
    background-color: #FFF;
    width: 300px;
    height: 80px;
}

input[type=button]:hover, input[type=button]:focus {
    border-color: #49A9DB;
}

input[type=text] {
    border-width: 1px;
    border-style: solid;
    font-size: 20px;
    width: 300px;
    height: 80px;
    text-align: center;
    background-color: #FFF;
}

.qanswer {
    border-color: #CCC;
}

.qanswer:focus {
    border-color: #49A9DB;
}

.qbanswer {
    border-color: red;
}

.qganswer {
    border-color: #0fcf58;
}

p {
    padding: 2%;
}

.main-menu {
    width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #CCC;
}

.hiragana-to-romaji {
    display: none;
    width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #CCC;
}

#qchar {
    margin-top: -30px;
    margin-bottom: -20px;
    font-size: 800%;
    color: #000;
}

#qfeedback {
    display: none;
}

#qcontinue {
    display: none;
}
